@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}
 body {
     margin: 0;
 }
.wrapper {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    
}

header {
    
}
.menu {
    background-color: #F5F5F6;
    width: 1152px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    padding: 0;
    /* margin: 5px 0; */
    
}

.list {
    display: flex;
    padding: 0;
    /* flex-grow: 1; */
}

li {
    font-size: 11px;
    font-weight: 500;
    /* line-height: 13px; */
    letter-spacing: 0.06em;
    position: relative;
    list-style-type: none;
    padding-right: 24px;
    margin-top: 4px;
}

.img-logo {
    height: 23px;
    width: 89px;
    margin: 15px 0px 12px 100px;
}

a {
    text-decoration: none;
    
    color: #959BA4;
}

a:hover {
    color: black;
}

.enterBtn {
    border-radius: 4px;
    border: none;
    margin-top: 9px;
    margin-right: 102px;
    margin-left: 40px;
    width: 58px;
    height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #FFFFFF;
    color: black;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;    
}

main {
    width: 1152px;
    margin: auto;
    
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 56px;
    margin-left: 253px;
    margin-bottom: 19px;
}
.conversion {
    display: flex;
    flex-direction: row;
    margin-left: 253px;
    
}

.convert-block {
    width: 259px;
}

.convert-sign {
    width: 122px;
    text-align: center;
}

#sign {
    margin-top: 116px;
}
.currenciesAll {
    display: flex;
    flex-direction: row;
    width: 259px;
    height: 30px;
    margin: 0 0 20px 0;
}
h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}

.currency {
    width: 50.8px;
    margin: 0;
    border: 1px solid #E5E5E5;
    font-size: 12px;
    font-weight: 400;
    color: #C6C6C6;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    height: 30px; 
    border: 1px solid #E5E5E5;
    font-size: 12px;
    font-weight: 400;
    color: #C6C6C6;   
}

select:focus {
    outline: none;
}

.currency-field {
    height: 102px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
}

.user-currency {
    margin-top: 11px;
    margin-left: 14px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    width: 240px;
    border: none;
}

.user-currency:focus {
    outline: none;
}
.rate {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #C6C6C6;
    margin-left: 14px;
}
.purpleSelected {
    background-color: #833AE0;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
   width: 129px;
   height: 54px; 
   background-color: white;
   border-radius: 3px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   display: flex;
   align-items: center;
   justify-content: center;
}
.hide {
    display: none;
}